In [2]:
import pymysql
# Open database connection
db = pymysql.connect(
  host="localhost",
  user="root",
  password="123456",
  database="library_system"
)
cursor = db.cursor()

In [4]:
sql_dept = """CREATE TABLE `student_Dept` (
  `Did` INT NOT NULL,
  `Dept` VARCHAR(20) NOT NULL,
  PRIMARY KEY (`Did`)
) """
cursor.execute(sql_dept)
print("Created table Successfull")

0

In [6]:
sql_student = """CREATE TABLE `student` (
  `Sno` INT PRIMARY KEY NOT NULL,
  `Did` INT  NOT NULL,
  `Sname` CHAR(20) NOT NULL,
  `Sex` INT(1) NOT NULL,
  `Sphone` CHAR(10) NOT NULL,
  `Sadd` VARCHAR(30) NOT NULL,
  FOREIGN KEY (`Did`) REFERENCES student_Dept(`Did`)
) """
cursor.execute(sql_student)
print("Created table Successfull")

Created table Successfull

In [7]:
sql_Publisher = """CREATE TABLE `publisher` (
  `Pid` INT PRIMARY KEY NOT NULL,
  `Pname` VARCHAR(20) NOT NULL,
  `Pman` VARCHAR(20) NOT NULL
) """
cursor.execute(sql_Publisher)
print("Created table Successfull")

Created table Successfull

In [8]:
sql_Book = """CREATE TABLE `book` (
  `Bid` INT PRIMARY KEY NOT NULL,
  `Pid` INT NOT NULL,
  `Bname` VARCHAR(20) NOT NULL,
  `Btype` INT NOT NULL,
  `Price` INT NOT NULL,
  FOREIGN KEY (`Pid`) REFERENCES publisher(`Pid`)
) """
cursor.execute(sql_Book)
print("Created table Successfull")

Created table Successfull

In [11]:
sql_Teacher = """CREATE TABLE `teacher` (
  `Tid` INT PRIMARY KEY NOT NULL,
  `Tname` VARCHAR(20) NOT NULL,
  `Tdept` VARCHAR(20) NOT NULL,
  `Tphone` CHAR(10) NOT NULL
) """
cursor.execute(sql_Teacher)
print("Created table Successfull")

Created table Successfull

In [20]:
sql_Borrow = """CREATE TABLE `borrow` (
  `Borrow_id` INT PRIMARY KEY AUTO_INCREMENT,
  `Sno` INT NOT NULL,
  `Bid` INT NOT NULL,
  `Tid` INT NOT NULL,
  `Bdate` DATETIME NOT NULL,
  `Gdate` DATETIME NOT NULL,
  FOREIGN KEY (`Sno`) REFERENCES student(`Sno`),
  FOREIGN KEY (`Bid`) REFERENCES book(`Bid`),
  FOREIGN KEY (`Tid`) REFERENCES teacher(`Tid`)
) """
cursor.execute(sql_Borrow)
print("Created table Successfull")

Created table Successfull

In [21]:
# disconnect from server
db.close()